"*":
  "atom-shell-commands": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "latex"
      "activate-power-mode"
    ]
  editor: {}
  "exception-reporting":
    userId: "42c489ee-6aa2-438e-f85a-65418c4125c9"
  welcome:
    showOnStartup: false
